* {
    box-sizing: border-box;
}

.tg {
    display: flex;
    flex-direction: column-reverse;
}

body {
    background-image: url(v859-katie-19.jpg);
    margin: 0;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

div.error {
    border: 2px solid red;
    color: brown;
}

div#messages {
    color: aquamarine;
}

form {
    display: flex;
    border-radius: 5px;
    font-weight: normal;
    border-collapse: collapse;
    flex-flow: column wrap;
    text-indent: inherit;
    border-spacing: 2px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    color: #ffffff;
}

.custom-btn {
    width: 150px;
    height: 60px;
    color: #fff;
    border-radius: 30px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.btn-1 {
    background: #ffffff;
    background: -webkit-radial-gradient(circle farthest-corner at center center, #000000 0%, #1f0a46 67%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #000000 0%, #1f0a46 67%);
    background: radial-gradient(circle farthest-corner at center center, #000000 0%, #1f0a46 67%);
    border: none;
}

h3#form.text-center {
    color: #ffffff;
}


h5 {
    text-align: center;
    color: aliceblue;
}

a {
    position: absolute;
    text-align: center;
    color: aliceblue;
    font-weight: 900;
}

img {
    width: 94%;
    height: 94%;
}



@media screen and (min-width: 415px) {
    body {
        background-image: url(v859-katie-19.jpg);
        margin: 0;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }



    div.wrap1.lh-lg.font-monospace {
        order: 1;
        padding: 50px;
        margin: 70px 450px;
        width: 800px;
        border-radius: 10px;
        box-shadow: 0px 0px 100px rgb(255, 255, 255);
        background-color: hsla(290, 55%, 17%, 0.452);
    }


    h5 {
        text-align: center;
        color: rgb(255, 255, 255);
    }

    a {
        position: absolute;
        text-align: center;
        color: rgb(255, 255, 255);
        font-weight: 900;
    }

    img {
        width: 94%;
        height: 94%;
    }








}